<div class="container">
  <div class="row">
    <div class="col-7 mx-auto text-center p-5">
      <h1>EC site</h1>
      <div class="my-5">
        <%= link_to 'Start Shopping', items_path, class:"btn btn-success" %>
      </div>
    </div>
  </div>
</div>